{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block head_title %}АИС «РУИК»{% endblock %}</title>
  <!-- Bootstrap -->

  {% bootstrap_css %}
  {% bootstrap_messages %}
  <link href="{% static "bootstrap-table/bootstrap-table.css" %}" rel="stylesheet">
  {% include 'ruik/head_css.html' %}

</head>
<body>
  {% include 'ruik/navbar.html' %}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  {% bootstrap_javascript %}
  <script src="{% bootstrap_jquery_url %}"></script>
  <script src="{% static "bootstrap-table/bootstrap-table.js" %}"></script>
  <script src="{% static "bootstrap-table/locale/bootstrap-table-ru-RU.js" %}"></script>
  <script src="{% static "js/thumbnail.js" %}"></script>

<div class="container navbar-fixed-bottom">
<div class="row">
<div class="well well-sm">
<small>
Приложение: {{ request.resolver_match.app_names }}<br />
URL-пространство: {{ request.resolver_match.namespaces }}<br />
URL-переменная: {{ request.resolver_match.url_name }}<br />
request: {{ request.resolver_match }}<br />
Пользователь: {{ request.user }}<br />
</small>
</div>
</div>
</div>
</body>
</html>
