<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">АИС «РУИК»</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if request.resolver_match.url_name == 'messages' %}class="active"{% endif %}><a href="{% url 'mssgs:messages' %}">Все замечания</a></li>
        <!-- <li><a href="{% url 'mssgs:message' %}">Новое замечание</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Объекты<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="{% url 'grps:groups' %}">Все группы</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li> -->
    {% if request.resolver_match.url_name == 'groups' %}<li class="divider-vertical"></li>{% endif %}
  </ul>


{% if request.resolver_match.url_name == 'groups' %}
  <div class="navbar-form nav navbar-nav navbar-left">
    <div class="material-switch pull-right" title="Показать все группы">
      <input  id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" class="check_thumbs" />
      <label for="someSwitchOptionDefault" class="label-default"></label>
    </div>
  </div>
{% endif %}

  <!-- <form class="navbar-form navbar-left">
  <div class="form-group">
  <input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form> -->
<ul class="nav navbar-nav navbar-right">
  <li><a href="#">{{ user.username }}</a></li>
  <!-- <li><a href="#">Link</a></li>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <li><a href="#">Action</a></li>
  <li><a href="#">Another action</a></li>
  <li><a href="#">Something else here</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#">Separated link</a></li>
</ul>
</li> -->
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
