{% extends "ruik/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}


{% block head_title %}Списки | {{ block.super }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% if latest_message_list %}
    <ul>
    {% for message in latest_message_list %}
        <li><a href="{% url 'mssgs:detail' message.id %}">{{ message.message_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет сообщений.</p>
{% endif %}

{% render_table latest_message_list %}

{% endblock %}
