{% extends "ruik/base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block head_title %}Списки | {{ block.super }} {% endblock %}

{% block content %}
<table data-toggle="table"
       id="table"
       data-search="true"
       data-striped="true"
       data-pagination="true"
       data-page-size="20"
       data-page-list=[20,40]
       data-show-pagination-switch="true">
<thead>
<tr>
    <th data-sortable="true" data-sort-name="db_num">Номер обращения</th>
    <th data-field="db_num" data-visible="false"></th>
    <th>Обращение</th>
    <th data-sortable="true" data-sort-name="author" data-field="author">Пользователь</th>
    <th data-sortable="true" data-sort-name="date">Время обращения</th>
    <th data-field="date" data-visible="false"></th>
    <th data-sortable="true" data-sort-name="category" data-field="category">Категория</th>
</tr>
</thead>
<tbody>
{% for message in message_list %}
<tr>
    <td><a href='{% url 'mssgs:detail' message.id %}'>MS{{ message.id }}</a></td>
    <td>{{ message.id }}</td>
    <td>{{ message.message_text|truncatewords:5 }}</td>
    <td>{{ message.author }}</td>
    <td>{{ message.date_create|date:'d.m.y G:i' }}</td>
    <td>{{ message.date_create|date:'U' }}</td>
    <td>{{ message.category.category }}</td>
</tr>
{% endfor %}

</tbody>
</table>


{% endblock %}
