{% extends "ruik/base.html" %}
{% block head_title %} Обращение | {{ block.super }} {% endblock %}

{% block content %}
{% load static %}

<form enctype="multipart/form-data" action="" method="post">
  <div class="page-header"><h3>{{ group }}</h3></div>
  {% csrf_token %}
  {% load bootstrap3 %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Отправить
  </button>
  {% endbuttons %}
</form>

{% endblock %}
