{% extends "ruik/base.html" %}
{% block head_title %} Новое замечание | {{ block.super }} {% endblock %}

{% block content %}
{{ wizard.form.media }}
{% load static %}
{% load mptt_tags %}

<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
{% load bootstrap3 %}
{{ wizard.steps.count }}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% bootstrap_form form %}
    {% endfor %}
{% else %}
    {% bootstrap_form wizard.form %}
{% endif %}
</table>
{% buttons %}
<div class="btn-group" role="group">
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-default">{% bootstrap_icon "fast-backward" %} Первый шаг</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default">{% bootstrap_icon "backward" %} Предыдущий шаг</button>
{% endif %}
{% if wizard.steps.next %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.next }}" class="btn btn-default">{% bootstrap_icon "forward" %} Следующий шаг</button>
{% endif %}
</div>

<button type="submit" class="btn btn-primary">
{% bootstrap_icon "ok" %} Отправить
</button>
{% endbuttons %}
</form>


{% endblock %}
