{% extends "ruik/base.html" %}
{% block head_title %} Детали | {{ block.super }} {% endblock %}
{% block content %}

<h1>{{ message.message_text }}</h1>
<p>
Объект: <a href="{% url 'grps:detail' message.group.id %}">{{ message.group.group_name }}</a>
</p>
<p>
  <li>Время создания: {{ message.date_create }}</li>
  <li>Время изменения: {{ message.date_updated }}</li>
</p>
{% if message.images %}
  <p>
    <div class="row">
      {% for img in message.images.all %}
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src='../../media/{{img.image_file}}' class='img-responsive' />
        </a>
      </div>
      {% endfor %}
    </div>
  </p>
{% endif %}
{% endblock %}
