{% extends "ruik/base.html" %}
{% block head_title %} Обращение | {{ block.super }} {% endblock %}

{% block content %}
{% load static %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Сделать снимок</h4>
      </div>
      <div class="modal-body" align="center">
        <div id="webcam"></div>
        <div id="uploads"></div>
      </div>
      <div class="modal-footer">
        <input class="btn btn-default" type="button" value="Настроить..." onClick="webcam.configure()">
        <input class="btn btn-primary" type="button" value="Снять" onClick="webcam.snap()">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </form>
    </div>
  </div>
</div>


<form enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  {% load bootstrap3 %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  {% bootstrap_icon "camera" %}
  </button>
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Отправить
  </button>
  {% endbuttons %}



</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="{% static "mssgs/webcam.js" %}"></script>
<script type="text/javascript">
  $(function() {
  	webcam.set_api_url('{% url "mssgs:webcam_upload" %}');
  	webcam.set_swf_url('{% static "mssgs/webcam.swf" %}');
  	$('#webcam').html(webcam.get_html(800, 600));
  });
</script>

{% endblock %}
