{% load bootstrap3 %}
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
{% bootstrap_messages %}


<form action="{% url 'mssgs:name' %}" method="post">
    {% csrf_token %}

{% bootstrap_form form %}


  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Отправить
    </button>
  {% endbuttons %}
</form>