{% extends "ruik/base.html" %}

{% block head_title %}Списки | {{ block.super }} {% endblock %}

{% block content %}
<!--
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="panel panel-default">

                <div class="panel-heading">Отображение групп</div>

                <ul class="list-group">
                    <li class="list-group-item">
                        Активные / Все
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" class="check_thumbs" />
                            <label for="someSwitchOptionDefault" class="label-default"></label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->


{% if latest_groups_list %}
<div class="row">
    {% for group in latest_groups_list %}
    {% now 'U' as current_date %}
      <div class="col-sm-6 col-md-4
        {% if group.date_end %}{% if group.date_end|date:'U' < current_date %}
           nonactive_group
        {% endif %}{% endif %}">
        <div class="thumbnail text-center">
          <div style="font-size:3em;margin-top:1em;color:{{group.glyphicon_color}}" class="glyphicon {{group.glyphicon_name}}"></div>
          <div class="caption text-left">
            <div class="thumbs-group-name" style="margin-bottom:1em;">
              <h3>{{ group.group_name }}</h3>
              <p>
                {% if group.date_end is None or group.date_end|date:'U' > current_date %}
                <a href="{% url 'mssgs:new_message' group.id %}" class="btn btn-primary" role="button">Направить обращение</a>
                {% endif %}
                <a href="{% url 'grps:detail' group.id %}" class="btn btn-default" role="button">Все обращения</a>
              </p>
          <div>
            Всего обращений: {{ group.messages.count }}
            {% if group.date_end %}
              <br />Временная группа (до {{ group.date_end|date:'d.m.y' }})
            {% endif %}
          </div>

            </div>

          </div>
        </div>

      </div>

    {% endfor %}
    </div>
{% else %}
    <p>Нет групп.</p>
{% endif %}
</div>
{% endblock %}
