{% extends "ruik/base.html" %}
{% load querystring from django_tables2 %}
{% load bootstrap3 %}
{% block head_title %} Детали | {{ block.super }} {% endblock %}
{% block content %}

<div class="page-header"><h3>{{ group.group_name }}</h3></div>

{% if group.messages.all %}
{% include "grps/message_table.html" %}
{% endif %}

{% endblock %}
