<table data-toggle="table"
       id="table"
       data-search="true"
       data-striped="true"
       data-pagination="true"
       data-page-size="20"
       data-page-list=[20,40]
       data-show-pagination-switch="true">
<thead>
<tr>
    <th data-field="status" data-sortable="true" data-sort-name="status">Статус</th>
    <th data-sortable="true" data-sort-name="db_num">Номер обращения</th>
    <th data-field="db_num" data-visible="false"></th>
    <th>Обращение</th>
    <th data-sortable="true" data-sort-name="author" data-field="author">Пользователь</th>
    <th data-sortable="true" data-sort-name="date">Время обращения</th>
    <th data-field="date" data-visible="false"></th>
    <th data-sortable="true" data-sort-name="category" data-field="category">Категория</th>
    <th data-field="ingeneer" data-sortable="true" data-sort-name="ingeneer">Исполнитель</th>
    {% for member in request.user.profile.memeber_person.all %}
      {% if member.group.messages_group == group %}
        <th></th>
      {% endif %}
    {% endfor %}
</tr>
</thead>
<tbody>
{% for message in group.messages.all %}
<tr>
    <td>
      {% if message in massage.status_logs.all %}
        Свой статус
      {% else %}
        Еще не принят в работу c {{ message.date_create|date:"H:i d.m.y" }}
      {% endif %}
    </td>
    <td><a href='{% url 'mssgs:detail' message.id %}'>MS{{ message.id }}</a></td>
    <td>{{ message.id }}</td>
    <td><div title='{{ message.message_text }}'>{{ message.message_text|truncatewords:5 }}</div></td>
    <td>{{ message.author }}</td>
    <td>{{ message.date_create|date:'d.m.y G:i' }}</td>
    <td>{{ message.date_create|date:'U' }}</td>
    <td>{{ message.category.category }}</td>
    <td>{{group}}</td>
      {% for member in request.user.profile.memeber_person.all %}
        {% if member.group.messages_group == group %}
        <td>
            <button type="button" class="btn btn-info" id="to_work_button" data-id={{message.id}}>В работу</button>
        </td>
        {% endif %}
      {% endfor %}
</tr>
{% endfor %}

</tbody>
</table>
